@font-face {
  font-family: "Noto Serif";
  src: url("/fonts/Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/fonts/Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/fonts/Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/fonts/BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
